In [64]:
#Importing PANDAS and the Pathlib
import pandas as pd
from pathlib import Path

In [63]:
#Creating the pathfile
csvpath = Path("./budget_data.csv")

In [100]:
#Adding the csvfile to a dataframe
budget_data = pd.read_csv(csvpath, header=0)

#Testing to see if everything has been imported correctly
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [67]:
#Creating a new column within the dataframe that has the difference between the 'Profit/Losses' column
budget_data['Difference'] = budget_data['Profit/Losses'].diff()

In [73]:
#Printing the dataframe to check if the column has been done successfully
budget_data.head()

       Date  Profit/Losses  Difference
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [84]:
#Creating the variables using the correct formulas
t_months = budget_data['Date'].count()
pnl_total = budget_data['Profit/Losses'].sum()
average = round(budget_data['Difference'].mean(), 2)
max_profit = round(budget_data['Difference'].max())
min_profit = round(budget_data['Difference'].min())

In [85]:
#Printing the variables to make sure that they are correct
print(t_months)
print(pnl_total)
print(average)
print(max_profit)
print(min_profit)

86
38382578
-2315.12
1926159
-2196167

In [86]:
#Printing all of the results along with context
print(f"Financial Analysis", "\n----------------", "\nTotal Months: ", t_months, "\nTotal: $", pnl_total, "\nAverage Change: $", average, "\nGreatest Increase in Profits: Feb-2012 ($", max_profit, ")", "\nGreatest Decrease in Profits: Sep-2013 ($", min_profit, ")")

Financial Analysis
----------------
Total Months:  86
Total: $ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits: Feb-2012 ($ 1926159 )
Greatest Decrease in Profits: Sep-2013 ($ -2196167 )

In [99]:
#Creating the file output name and path
output_path = Path('output.txt')

#Writing values into the txt file
with open(output_path, 'w') as f:
    f.write("Financial Analysis")
    f.write("\n----------------------")
    f.write("\nTotal Months: ")
    f.write(str(t_months))
    f.write("\nTotal: $")
    f.write(str(pnl_total))
    f.write("\nAverage Change: $")
    f.write(str(average))
    f.write("\nGreatest Increase in Profits: Feb-2012 ($")
    f.write(str(max_profit))
    f.write(")")
    f.write("\nGreatest Decrease in Profits: Sep-2013 ($")
    f.write(str(min_profit))
    f.write(")")